<!--table with products and services ends here -->

  <div class="container fluid">
            <h1>Check out how our organic hipster clothes are made!</h1>
    </div><!--end container fluid-->


    <!--embed video 4:3 aspect ratio-->
    <div class="embed-responsive embed-responsive-4by3">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=MDDE8VvViFo" allowfullscreen></iframe>
    </div>
    <!--end embed-video-->


 <div class="container fluid">
            <h1>Look classy!</h1>
    </div><!--end container fluid-->